%h1 Listing bodies

%table
  %tr
    %th Name
    %th Description
    %th Creator
    %th
    %th

  - @bodies.each do |body|
    %tr
      %td= link_to body.name, body
      %td= body.description
      %td= render 'users/user', user: body.created_by

      %td= link_to 'Edit', edit_body_path(body) if permitted_to?(:edit, body)
      %td= link_to 'Destroy', body, :confirm => 'Are you sure?', :method => :delete if permitted_to?(:destroy, body)

= paginate @bodies

%br

= link_to 'New Body', new_body_path
