%h1= @body.name

%p= @body.description

%p
  %b Creator:
  = render 'users/user', user: @body.created_by

- if permitted_to?(:edit, @body)
  = link_to 'Edit', edit_body_path(@body)

%h2 Members
- if @members.present?
  %ul
    - @members.each do |member|
      %li= render 'users/user', user: member

  = paginate @members
- else
  %p None

- if permitted_to?(:edit, @body)
  = link_to 'Manage Members', body_memberships_path(@body)
