<p>
  <b>Name:</b>
  <%= @body.name %>
</p>

<p>
  <b>Description:</b>
  <%= @body.description %>
</p>

<p>
  <b>Creator:</b>
  <%= render 'users/user', user: @body.created_by %>
</p>


<%= link_to 'Edit', edit_body_path(@body) %> |
<%= link_to 'Back', bodies_path %>
