%h1= @body.name

%p= @body.description

%p
  %b Creator:
  = render 'users/user', user: @body.created_by

- if permitted_to?(:edit, @body)
  = link_to 'Edit', edit_body_path(@body)

%h2 Members
- if @members.present?
  %ul
    - @members.each do |member|
      %li= render 'users/user', user: member

  = paginate @members
- else
  %p None

- if user_signed_in? && membership = @body.memberships.for(current_user)
  = button_to 'Leave Body', body_membership_path(@body, membership), method: :delete
- elsif permitted_to?(:edit, @body)
  = button_to 'Join Body', body_memberships_path(@body, membership: {member_id: current_user.id})
- elsif @body.membership_requests.for(current_user)
  %p
    Membership requested at
    = current_user.created_at
- else
  = button_to 'Request Membership', body_membership_requests_path(@body)

- if permitted_to?(:edit, @body)
  = link_to 'Manage Members', body_memberships_path(@body)

%h2 Questions
- if @questions.present?
  %ol
    - @questions.each do |question|
      %li= render 'questions/question', question: question

  = paginate @questions

- else
  %p None

- if permitted_to?(:create, @body.questions.build)
  = link_to 'Raise a question', new_body_question_path(@body)
