%h1
  Members of
  = link_to @body.name, @body

- if @memberships.present?
  %ul
    - @memberships.each do |membership|
      %li
        = render 'users/user', user: membership.member
        = link_to 'Delete', body_membership_path(@body, membership), method: :delete

  = paginate @memberships

- else
  %p There don't seem to be any members

%h2
  Add Members to
  = link_to @body.name, @body

- if @prospective_members.present?
  = form_for [@body, @membership] do |f|
    = f.collection_select :member_id, @prospective_members, :id, :username
    = f.submit 'Add Member'
- else
  %p No prospective members available